<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Item Catalog</title>
	<base href="/">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	{% include "header.html" %}
	<div class="container">
		<div class="row">
			{% if 'username' in session and canEdit %}
			<div class="row">
				<div class="col-xs-12">
					<a href="{{url_for('editItem', catalog_id = catalog_id, item_id = catalogItem.id)}}">
						<button class="btn btn-primary">Edit</button>
					</a>
					<a href="{{url_for('deleteItem', catalog_id = catalog_id, item_id = catalogItem.id)}}">
						<button class="btn btn-danger" >Delete</button>
					</a>
				</div>
			</div>
			<hr>
			{% endif %}
			<div class="row">
				<div class="col-xs-12">
					<ul class="list-group">
						<div class="list-group-item clearfix" >
							<span class="pull-left">
								<img class="img-responsive detail-img"
									src="{{catalogItem.image_url}}"/>
							</span>
							<div class="item-box" >
								<h2 class="list-group-item-heading">{{catalogItem.name}}</h2>
								<p class="list-group-item-text description-box">{{catalogItem.description}}</p>
							</div>
						</div>
						<div class="detail-footer">
							<h4>Created by {{creator.name}}<h4>
						</div>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>