<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Item Catalog</title>
	<base href="/">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	{% include "header.html" %}
	<div class="container">
		<div class="row">
			<div class="row">
				<div class="col-xs-12">
					<a href="{{url_for('editItem', catalog_id = catalog_id, item_id = catalogItem.id)}}">
						<button class="btn btn-primary">Edit</button>
					</a>
					<button class="btn btn-danger" >Delete</button>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-12">
					<ul class="list-group">
						<div class="list-group-item clearfix" >
						
							<span class="pull-left">
								<img class="img-responsive"
									src="{{catalogItem.image_url}}"
									style="max-height: 250px; max-width: 250px; margin: 5px 15px 5px 5px;"/>
							</span>
							<div style="margin-left: 20px;" >
								<h2 class="list-group-item-heading">{{catalogItem.name}}</h2>
								<p class="list-group-item-text">{{catalogItem.description}}</p>
							</div>
						</div>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>