<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="{{url_for('showCategory')}}" class="navbar-brand">Item Catalog</a>
    </div>
	
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
			{% if 'username' in session %}
				<li><a href="{{url_for('disconnect')}}">{{session.username}} - Logout</a></li>
			{% else %}
				<li><a href="{{url_for('showLogin')}}">Login</a></li>
			{% endif%}
		</ul>
    </div>
  </div>
</nav>