<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Item Catalog</title>
	<base href="/">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	{% include "header.html" %}
	<div class="container">
		<div class="row">
			{% include "category_list.html" %}
		
			{% if test %}
				{% include "item_list.html" %}
			{% endif %}
			{% if test2 %}
				{% include "item_list2.html" %}
			{% endif %}
		</div>
	</div>
</body>
</html>